<div class="team">
<h2 class="header">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="form__email">
    <h6 class="email_error">
      <% if resource.errors.messages[:email][0] %>
        <%= "Email " + resource.errors.messages[:email][0] %>
      <% end %>
    </h6>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form__password">
    <h6 class=password_error>
      <% if resource.errors.messages[:password][0] %>
        <%="Password " + resource.errors.messages[:password][0] %>
      <% end %>
    </h6>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form__confirmation">
    <h6 class="password_match_error">
      <% if resource.errors.messages[:password_confirmation][0] %>
      <%= "Password Confirmation " + resource.errors.messages[:password_confirmation][0] %>
      <% end %>
    </h6>
    <h6 class="password_confirmation_error">
      <% if resource.errors.messages[:encrypted_password][0] %>
        <%= "Password Confirmation " + resource.errors.messages[:encrypted_password][0] %>
      <% end %>
    </h6>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="submit">
    <%= f.submit "Sign up" %>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
